<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aVService">
      <h2 data-cy="aVServiceDetailsHeading"><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.detail.title">AV Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.id">Id</span></dt>
        <dd>
          <span>{{ aVService.id }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.title">Title</span></dt>
        <dd>
          <span>{{ aVService.title }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.description">Description</span></dt>
        <dd>
          <span>{{ aVService.description }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.price">Price</span></dt>
        <dd>
          <span>{{ aVService.price }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.quantity">Quantity</span></dt>
        <dd>
          <span>{{ aVService.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.isPrincipal">Is Principal</span></dt>
        <dd>
          <span>{{ aVService.isPrincipal }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.deleted">Deleted</span></dt>
        <dd>
          <span>{{ aVService.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.aVService.site">Site</span></dt>
        <dd>
          <div *ngIf="aVService.site">
            <a [routerLink]="['/site', aVService.site?.id, 'view']">{{ aVService.site?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/av-service', aVService.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
