<div>
  <h2 id="page-heading" data-cy="ClientHeading">
    <span jhiTranslate="almavivaVisaServiceCrmApp.client.home.title">Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="almavivaVisaServiceCrmApp.client.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client"
        [routerLink]="['/client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="almavivaVisaServiceCrmApp.client.home.createLabel"> Create a new Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'almavivaVisaServiceCrmApp.client.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
    <span jhiTranslate="almavivaVisaServiceCrmApp.client.home.notFound">No clients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.id">Id</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.phone">Phone</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.email">Email</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.password">Password</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.firstName">First Name</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.lastName">Last Name</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.phoneActivation">Phone Activation</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.emailActivation">Email Activation</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.client.internalUser">Internal User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a>
          </td>
          <td>{{ client.phone }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.password }}</td>
          <td>{{ client.firstName }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.deleted }}</td>
          <td>
            <div *ngIf="client.phoneActivation">
              <a [routerLink]="['/phone-activation', client.phoneActivation?.id, 'view']">{{ client.phoneActivation?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="client.emailActivation">
              <a [routerLink]="['/email-activation', client.emailActivation?.id, 'view']">{{ client.emailActivation?.id }}</a>
            </div>
          </td>
          <td>
            {{ client.internalUser?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/client', client.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(client)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
