<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="visa">
      <h2 data-cy="visaDetailsHeading"><span jhiTranslate="almavivaVisaServiceCrmApp.visa.detail.title">Visa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.visa.id">Id</span></dt>
        <dd>
          <span>{{ visa.id }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.visa.title">Title</span></dt>
        <dd>
          <span>{{ visa.title }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.visa.price">Price</span></dt>
        <dd>
          <span>{{ visa.price }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.visa.description">Description</span></dt>
        <dd>
          <span>{{ visa.description }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.visa.deleted">Deleted</span></dt>
        <dd>
          <span>{{ visa.deleted }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/visa', visa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
