<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-day-off-heading"
        data-cy="DayOffCreateUpdateHeading"
        jhiTranslate="almavivaVisaServiceCrmApp.dayOff.home.createOrEditLabel"
      >
        Create or edit a Day Off
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.isHoliday" for="field_isHoliday"
            >Is Holiday</label
          >
          <input type="checkbox" class="form-check" name="isHoliday" id="field_isHoliday" data-cy="isHoliday" formControlName="isHoliday" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.dayOff.siteConfiguration" for="field_siteConfiguration"
            >Site Configuration</label
          >
          <select
            class="form-control"
            id="field_siteConfiguration"
            data-cy="siteConfiguration"
            name="siteConfiguration"
            formControlName="siteConfiguration"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                siteConfigurationOption.id === editForm.get('siteConfiguration')!.value?.id
                  ? editForm.get('siteConfiguration')!.value
                  : siteConfigurationOption
              "
              *ngFor="let siteConfigurationOption of siteConfigurationsSharedCollection; trackBy: trackSiteConfigurationById"
            >
              {{ siteConfigurationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
