<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appointment">
      <h2 data-cy="appointmentDetailsHeading">
        <span jhiTranslate="almavivaVisaServiceCrmApp.appointment.detail.title">Appointment</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.appointment.id">Id</span></dt>
        <dd>
          <span>{{ appointment.id }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.appointment.date">Date</span></dt>
        <dd>
          <span>{{ appointment.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.appointment.time">Time</span></dt>
        <dd>
          <span>{{ appointment.time }}</span>
        </dd>
        <dt><span jhiTranslate="almavivaVisaServiceCrmApp.appointment.deleted">Deleted</span></dt>
        <dd>
          <span>{{ appointment.deleted }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
