<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-email-activation-heading"
        data-cy="EmailActivationCreateUpdateHeading"
        jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.home.createOrEditLabel"
      >
        Create or edit a Email Activation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.isActivated" for="field_isActivated"
            >Is Activated</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isActivated"
            id="field_isActivated"
            data-cy="isActivated"
            formControlName="isActivated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.activationKey" for="field_activationKey"
            >Activation Key</label
          >
          <input
            type="text"
            class="form-control"
            name="activationKey"
            id="field_activationKey"
            data-cy="activationKey"
            formControlName="activationKey"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.expirationDate"
            for="field_expirationDate"
            >Expiration Date</label
          >
          <div class="input-group">
            <input
              id="field_expirationDate"
              data-cy="expirationDate"
              type="text"
              class="form-control"
              name="expirationDate"
              ngbDatepicker
              #expirationDateDp="ngbDatepicker"
              formControlName="expirationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="almavivaVisaServiceCrmApp.emailActivation.deleted" for="field_deleted"
            >Deleted</label
          >
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
