<div>
  <h2 id="page-heading" data-cy="MandateHeading">
    <span jhiTranslate="almavivaVisaServiceCrmApp.mandate.home.title">Mandates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="almavivaVisaServiceCrmApp.mandate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mandate"
        [routerLink]="['/mandate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="almavivaVisaServiceCrmApp.mandate.home.createLabel"> Create a new Mandate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'almavivaVisaServiceCrmApp.mandate.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="mandates?.length === 0">
    <span jhiTranslate="almavivaVisaServiceCrmApp.mandate.home.notFound">No mandates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mandates && mandates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.id">Id</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.code">Code</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.location">Location</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.date">Date</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.isAVSPaiment">Is AVS Paiment</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="almavivaVisaServiceCrmApp.mandate.folder">Folder</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mandate of mandates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mandate', mandate.id, 'view']">{{ mandate.id }}</a>
          </td>
          <td>{{ mandate.code }}</td>
          <td>{{ mandate.location }}</td>
          <td>{{ mandate.amount }}</td>
          <td>{{ mandate.date | formatMediumDate }}</td>
          <td>{{ mandate.isAVSPaiment }}</td>
          <td>{{ mandate.deleted }}</td>
          <td>
            <div *ngIf="mandate.folder">
              <a [routerLink]="['/folder', mandate.folder?.id, 'view']">{{ mandate.folder?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mandate', mandate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mandate', mandate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mandate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
